<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VPanel - VentureBit</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://venturebit.net/favicon.png"
    />
    <meta
      name="description"
      content="Securely manage your Credentials & OTPs with VentureBit’s dedicated OTP management system. Log in to access your one-time passwords safely and efficiently."
    />
    <meta name="author" content="VentureBit Technology Company" />
    <meta property="og:title" content="VentureBit Credentials Management" />
    <meta
      property="og:description"
      content="Access your OTPs with ease and enhanced security through VentureBit’s OTP Management System. Log in now to manage your credentials securely."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://otp.venturebit.net" />
    <!-- Update with your actual URL -->
    <meta property="og:image" content="https://venturebit.net/venturebit.png" />
    <!-- Update with path to an image preview for social media -->
    <meta property="og:site_name" content="VentureBit OTP Management" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="https://venturebit.net/venturebit.png" />
    <meta name="twitter:title" content="VentureBit Credentials Management" />
    <meta
      name="twitter:description"
      content="Securely manage your OTPs with our easy-to-use and secure system. Log in now to ensure your transactions are safe."
    />
    <meta
      name="twitter:image"
      content="https://venturebit.net/venturebit.png"
    />
    <!-- Update with path to an image preview for Twitter -->
    <meta name="twitter:site" content="@VentureBit" />
    <!-- Update with your actual Twitter handle -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Sedan:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              background: "hsl(0, 0%, 100%)",
              foreground: "hsl(240, 10%, 3.9%)",
              card: "hsl(0, 0%, 100%)",
              "card-foreground": " hsl(240, 10%, 3.9%)",
              popover: "hsl(0, 0%, 100%)",
              "popover-foreground": " hsl(240, 10%, 3.9%)",
              primary: "hsl(240, 5.9%, 10%)",
              "primary-foreground": " hsl(0, 0%, 98%)",
              secondary: "hsl(240, 4.8%, 95.9%)",
              "secondary-foreground": " hsl(240, 5.9%, 10%)",
              muted: "hsl(240, 4.8%, 95.9%)",
              "muted-foreground": " hsl(240, 3.8%, 46.1%)",
              accent: "hsl(240, 4.8%, 95.9%)",
              "accent-foreground": " hsl(240, 5.9%, 10%)",
              destructive: "hsl(0, 84.2%, 60.2%)",
              "destructive-foreground": " hsl(0, 0%, 98%)",
              border: "hsl(240, 5.9%, 90%)",
              input: "hsl(240, 5.9%, 90%)",
              ring: "hsl(240, 5.9%, 10%)",
            },
          },
          fontFamily: {
            lato: ["Lato", "sans-serif"],
            sedan: ["Sedan", "sans-serif"],
          },
        },
      };
    </script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="min-h-screen flex justify-center py-12">
    <div class="mx-auto max-w-8xl bg-white p-8 rounded-md shadow-md">
      <div
        class="flex flex-col md:flex-row gap-2 justify-between items-center mb-6"
      >
        <div class="flex items-center space-x-2">
          <button
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 bg-blue-500 text-white"
          >
            Auto OTP
          </button>
          <span class="text-sm text-gray-500">Version alpha.0.3</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="text-sm text-gray-500 bg-gray-200 px-2 py-1 rounded-full"
            >Auto Refresh Enabled</span
          >
        </div>
      </div>

      <div class="w-full mb-6">
        <div class="text-center sm:text-left mb-3">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
            Welcome to OTP Panel!
          </h1>

          <p class="mt-1.5 text-sm text-gray-500">
            Fill-up your information that you have used while ordering. If you
            have changed something, let us know in message.
          </p>
        </div>

        <form
          action=""
          id="otp-form"
          hx-post="{% url 'hx' %}"
          hx-target="#result"
          hx-indicator="#spinner"
          method="post"
        >
          {% csrf_token %}
          <div
            class="flex flex-col space-y-2 items-center md:flex-row md:space-x-2 md:space-y-0"
          >
            <input
              name="profile_name"
              required
              class="flex h-10 w-full border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 rounded-md"
              placeholder="Profile Name"
            />
            <input
              name="profile_email"
              required
              class="flex h-10 w-full border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 rounded-md"
              placeholder="Email Address"
            />
            <button
              id="submit-button"
              type="button"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-8 py-2"
            >
              GET OTP
            </button>
          </div>
        </form>
      </div>
      <div class="flex items-center justify-center">
        <p>Auto updating</p>
        <svg
          id="spinner"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-live="polite"
          aria-busy="false"
          class="hidden"
        >
          <!-- Initially hidden -->
          <path
            d="M7 10H3V14H7V10Z"
            class="fill-emerald-500 animate-bounce"
            style="animation-delay: 0s"
          />
          <path
            d="M14 10H10V14H14V10Z"
            class="fill-emerald-500 animate-bounce"
            style="animation-delay: 0.2s"
          />
          <path
            d="M21 10H17V14H21V10Z"
            class="fill-emerald-500 animate-bounce"
            style="animation-delay: 0.4s"
          />
        </svg>
      </div>

      <div id="result"></div>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("otp-form");
      const submitButton = document.getElementById("submit-button");

      submitButton.addEventListener("click", function (event) {
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        submitButton.textContent = "PROCESSING";
        htmx.trigger(form, "submit", { target: form });

        // After the first submission
        form.setAttribute("hx-trigger", "every 30s from:this");
        htmx.process(form);
      });

      document.body.addEventListener("htmx:beforeRequest", function (event) {
        document.getElementById("spinner").classList.remove("hidden");
      });

      document.body.addEventListener("htmx:afterRequest", function (event) {
        document.getElementById("spinner").classList.add("hidden");
      });
    });
  </script>
</html>
